
<footer class="footer section section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
                <!-- About -->
                <div class="block about">
                    <!-- footer logo -->
                    <img style="    position: absolute;top: 35%;left: -9%;" src="/images/tobuy-logo-footer.svg" alt="">
                    <!-- description -->
                    <p class="alt-color">Welcome to Like Buy to buy, sell.</p>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-1 col-md-3">
                <div class="block">
                    <h4>Main Activity</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#!">Articls & Tips</a></li>

                    </ul>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0">
                <div class="block">
                    <h4>Info</h4>
                    <ul>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#!">Terms of Services</a></li>
                    </ul>
                </div>
            </div>
            <!-- Promotion -->
            <div class="col-lg-4 col-md-7">

                <div class="block">
                    <h4>Others</h4>
                    <ul>

                        <li><a href="#!">Give Us Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12">
                <!-- Copyright -->
                <div class="copyright">
                    <p>Welcome Like Buy. Designed by <a>Eric</a> and Harry </p>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <!-- Social Icons -->
                <ul class="social-media-icons text-right">

                    <li><a class="fab fa-facebook-f " id="foot-icon" href=""></a></li>
                    <li><a class="fab fa-twitter" href=""></a></li>
                    <li><a class="fab fa-instagram" href=""></a></li>
                    <li><a class="fab fa-youtube" href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Container End -->
    <!-- To Top -->
    <a  onclick="topFunction()" id="erictopBtn" ><i class="fa fa-angle-up"></i></a>
    <!--<button onclick="topFunction()" id="erictopBtn" title="Go to top">Top</button>-->
    <!--<div class="top-to">-->

    <!--<a id="top" class="" ><i class="fa fa-angle-up"></i></a>-->
    <!--</div>-->
</footer>
<!-- JAVASCRIPTS -->

<!--&lt;!&ndash;<script src="../plugins/jquery/dist/jquery.min.js"></script>&ndash;&gt;-->
<!--<script src="../plugins/tether/js/tether.min.js"></script>-->
<!--<script src="../plugins/raty/jquery.raty-fa.js"></script>-->
<!--<script src="../plugins/bootstrap/dist/js/popper.min.js"></script>-->
<!--<script src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--<script src="../plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>-->
<!--<script src="../plugins/slick-carousel/slick/slick.min.js"></script>-->
<!--<script src="../plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>-->
<!--<script src="../plugins/fancybox/jquery.fancybox.pack.js"></script>-->


</body>
</html>
